pymongo --index-url http://pypi.hustunique.com/simple/
beautifulsoup4 --index-url http://pypi.hustunique.com/simple/
requests --index-url http://pypi.hustunique.com/simple/
lxml --index-url http://pypi.hustunique.com/simple/